%btn {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 20px;
  transition: background-color 550ms;
  z-index: 1;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
}
