/* Coolors Exported Palette - coolors.co/c2f970-3f367c-93032e-98b6b1-f4f4f4 */

/* HSL */
// $secondary-color: hsla(84%, 92%, 71%, 1);
// $primary-color: hsla(248%, 39%, 35%, 1);
// $red-color: hsla(342%, 96%, 29%, 1);
// $dark-color: hsla(170%, 17%, 65%, 1);
// $light-color: hsla(0%, 0%, 96%, 1);

/* RGB */
$secondary-color: rgba(194, 249, 112, 1);
$border-color: rgba(194, 249, 112, 0.5);
$primary-color: rgba(63, 54, 124, 1);
$red-color: rgba(147, 3, 46, 1);
$dark-color: rgb(1, 15, 13);
$light-color: rgba(244, 244, 244, 1);
