// Screens starting at Galaxy 5/SE
@media screen and (min-width: 320px) {
  .hero {
    .hero__main-message {
      color: $light-color;
      transform: translateY(15%);
    }
  }
  .testimonials {
    height: 130vh;
  }
}

@media screen and (min-width: 411px) {
  .hero {
    .hero__main-message {
      color: $light-color;
      transform: translateY(35%);
    }
  }

  .hero::before {
    height: 9.4rem;
    background: url("../images/wave-medium.png") cover;
  }

  .testimonials {
    height: 120vh;
  }

  .testimonials::before {
    height: 9.4rem;
    background: url("../images/wave-medium-reversed.png") cover;
  }

  .testimonials::after {
    height: 9.4rem;
    background: url("../images/wave-medium.png") cover;
  }
}

@media screen and (min-width: 700px) {
  nav {
    height: 7rem;
    .menu-icons.open i {
      font-size: 4vmin;
    }
    .nav-brand {
      width: 4vmin;
    }

    .nav-list {
      width: initial;
      height: initial;
      background: transparent;
      position: initial;
      top: initial;
      right: initial;
      flex-direction: row;
      transition: initial;
    }

    .nav-item {
      margin: 0 2.5rem;
    }
    .nav-link,
    .current {
      position: relative;
      font-size: 1.3rem;
      color: $light-color;
    }

    .nav-link:hover::before {
      transform: scaleX(1);
    }

    .menu-icons i {
      display: none;
    }

    .nav-link::before,
    .current::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1rem;
      background-color: $secondary-color;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 350ms;
    }

    .current::before {
      transform: scaleX(1);
    }

    .cta {
      text-align: left;
    }
  }

  .hero {
    height: 100vh;

    .hero__main-message {
      transform: translateY(50%);
      text-align: left;
    }
  }

  .testimonial-text-box {
    max-width: 65rem;
    margin: auto;
  }

  .begin-adventure {
    .adventure-grid-item {
      text-align: left;
    }
  }
}

@media screen and (min-width: 950px) {
  .testimonials {
    width: 100%;
    height: 120vh;

    .container {
      display: flex;
      .testimonial-text-box {
        max-width: 75rem;
        margin: auto;
      }
    }
  }

  .hero::before {
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 22.7rem;
    background: url("../images/wave-large.png") cover;
  }

  .testimonials::before {
    top: -7px;
    left: 0;
    width: 100%;
    height: 22.7rem;
    background: url("../images/wave-large.png") cover;
  }

  .testimonials::after {
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 22.7rem;
    background: url("../images/wave-large-reversed.png") cover;
  }

  // Begin Adventure
  .begin-adventure {
    margin-top: 1rem;

    .adventure-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      margin-bottom: 2rem;

      .cta {
        text-align: left;
      }
    }

    .adventure-grid-item {
      p {
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .hero {
    height: 100vh;
  }
}
