.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}
