/* ========================= MOBILE ===================================== */

@import "slider.css";
@import "config.css";
@import "utilities.css";
@import "artists.css";
@import "schedule.css";
@import "vendors.css";
@import "tickets.css";
@import "media.css";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--dark-color);
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* NAV MOBILE */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  /* margin: 0 2rem; */
}

.nav-brand {
  width: 4rem;
}

.menu-icons i {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.close {
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.close i {
  color: var(--light-color);
}

.nav-list.active {
  right: 0;
  background-color: var(--primary-color);
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -26rem;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: all 650ms ease-in-out;
}

.nav-link {
  font-family: "montserrat", sans-serif;
  color: var(--light-color);
  opacity: 0.9;
}

.nav-item {
  margin: 2rem 0;
}

/* ARTISTS SECTION */

.featured-artists h1, p {
  padding: 2rem 0 4rem;
}


.artists-grid {
  display: grid;
  /* margin: 3rem 0; */
  
}

.artists-item img,
p {
  margin: 1rem 0;
}

/* SOCIAL ICONS */
#social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  height: 10rem;
}

#social .social i {
  font-size: minmax(1rem, 3rem);
  padding: 0 2rem;
  transition: 500ms ease-in-out;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa8;
}

.fa-youtube {
  color: #bb0000;
}

.social i:hover {
  transform: scale(1.3);
}

/* FOOTER */
#footer {
  background-color: var(--blue-color);
  font-weight: lighter;
}

#footer .footer-grid {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

#footer .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
  margin-top: 4rem;
}

#footer .list ul li {
  padding: 0.6rem 0;
  color: var(--light-color);
  font-family: "montserrat", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}


.light {
  width: 80%;
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

#footer .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.24rem;
  /* padding: 2rem 1rem; */
  border-top: solid 1px var(--border-color);
  color: var(--light-color);
}

#footer li,
.copy,
.light {
  letter-spacing: 1.1px;
  opacity: 0.7;
}
