@import "slider.css";
@import "nav.css";
@import "config.css";
@import "utilities.css";
@import "media.css";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: var(--dark-color);
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* NAV MOBILE */
nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 2rem;
}

.nav-brand img {
  width: 7rem;
  height: 7rem;
}

.menu-icons i {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.close {
  position: absolute;
  top: 3.4rem;
  right: 3.8rem;
}

.close i {
  color: var(--light-color);
}

.nav-list.active {
  right: 0;
  background-color: var(--primary-color);
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -26rem;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: all 650ms ease-in-out;
}

.nav-link {
  color: var(--light-color);
}

.nav-item {
  margin: 2rem 0;
}

/* ARTISTS SECTION */
.artists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-column-gap: 2rem;
  margin: 3rem 0;
}

.artists-item img,
p {
  margin: 1rem 0;
}

/* .artists-item img {
  margin: 2rem 0;
} */
