img {
  width: 100%;
}

.section-heading {
  font-size: 4rem;
  text-align: center;
  /* padding: 2rem 0; */
}

span {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
